@font-face {
    font-family: 'Glysa';
    src: url('../fonts/Glysa.woff') format('woff');
    font-weight: normal;
    font-style: sans-serif;
    font-display: swap;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik.woff') format('woff');
    font-weight: normal;
    font-style: sans-serif;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: sans-serif;
    font-display: swap;
}
@font-face {
    font-family: 'Garamond';
    src: url('../fonts/Garamond.woff') format('woff');
    font-weight: normal;
    font-style: serif;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontGlysa: 'Glysa', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontGraphik: 'Graphik', sans-serif;
$fontHelvetica: 'Helvetica', sans-serif;
$fontGaramond: 'Garamond', serif;